/doc/ebook/bnf.aux
/doc/ebook/bnf.log
/doc/ebook/bnf.pdf
/doc/ebook/hadra-lang-book.aux
/doc/ebook/hadra-lang-book.bbl
/doc/ebook/hadra-lang-book.blg
/doc/ebook/hadra-lang-book.idx
/doc/ebook/hadra-lang-book.ilg
/doc/ebook/hadra-lang-book.ind
/doc/ebook/hadra-lang-book.lof
/doc/ebook/hadra-lang-book.log
/doc/ebook/hadra-lang-book.lot
/doc/ebook/hadra-lang-book.out
/doc/ebook/hadra-lang-book.synctex.gz
/doc/ebook/bnf.synctex.gz
/hadra-example/.idea/
/hadra-example/target/
/hadra-lang/target/
/hadra-lang-stdlib/target/
/hadra-maven-plugin/target/
/ide-support/hl4nb/target/
/ide-support/hl4swing/target/
/doc/ebook/hadra-lang-book.pdf
/lsp/
/build/hadra-build-tool/target/
/lib/hadra-lang/target/
/build/hadra-maven-plugin/target/
/.idea/
/extra/hadra-example/target/
/extra/hadra-example/.idea/
/build/hl/target/
/build/hl-maven-plugin/target/
/build/hl/hl.iml
